.modal-content
  border-radius: 0

.carousel-inner img
  object-fit: fill

.object-fit-cover
  object-fit: cover
  object-position: right
.main
  overflow: scroll
  position: relative
  margin-left: 0
  transition: margin-left 1s ease

#navContainer
  width: 14em


.logo
  margin-bottom: 2%

#logo
  display: block
  width: 256px
  height: 256px
  margin-left: auto
  margin-right: auto

.logoText h2
  text-align: center


.lucky
  background-color: black
  color:white

.position-absolute
  position: absolute


.position-relative
  position: relative

.position-fixed
  position: fixed

.z-index0
  z-index: 0

.z-index10
  z-index: 10


.margin-top
  margin-top: 5rem


.padding-top
  padding-top: 5rem


.color-white
  color: white


.carousel-inner .item
  height: 30vh
  background-color: black

.carousel-inner img
  object-fit: cover
  object-position: center
  opacity: .7
  width: 100%
  height: 100% !important


@media (min-width: 768px)
  .pull-right-md
  float:right!important



.img-responsive
   box-shadow: 0 2px 5px #000
   margin-bottom: 10px


ul
  font-size: 15px


#nav-toggle
  border: solid 2px white
  border-radius: 4px
  background-color: rgba(255,255,255,0)
  padding: 5px 5px 5px 5px
  display: inline
.nav-toggle
  margin-left: 25px
  margin-top: 25px
  z-index: 9999
  position: fixed


.nav-link
  transition: border-bottom 1s ease

.active
  box-shadow: 0 2px 0 white
