#popularContainer a:hover
  text-decoration: none

#popularContainer a:visited
  text-decoration: none


.center_popular
 text-align: center
 margin-bottom: 30px

.caption2
  margin-top: -100px

.row_popular
  margin-top: 100px


.thumbail_update
  transition: box-shadow 0.5s

.thumbail_update:hover
 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

 .thumbnail input 
   position: relative
   left: 40px
 
 .rating-symbol 
    font-size: 20px

.thumbnail>span
  display: block
  text-align: center
  margin-top: 15px


