
#popularContainer a:hover
  text-decoration: none


#popularContainer a:visited
  text-decoration: none

#popularContainer
  background-color: #292b2c

.row_popular1
  background-color: #000
.row_popular3
  background-color: #3c3a49

h2.center_popular
 text-align: center
 color: #fff

h3.cocktail_titel
  margin-left: 50px
  color: #fff

p.cocktail_text_titel
 color: #E5E5E5
 font-size: 1.25em
 text-align: center
 margin: 60px

p.cocktail_text
  color: #E5E5E5
  font-size: 1.25em
  margin-left: 50px
  text-align: left
