body
  background-color: $black-background

#cocktailIamge
  border-radius: 4px

#resultList
  margin-top: 2%
  padding: 20px 10px 20px 10px
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  border: 1px solid
  border-color: rgba(0,0,0,0.16)
  border-radius: 4px
  background-color: #292b2c

.hidden
  display: none

.img-fluid
  max-width: 100%
  height: auto

.card
  background-color: $grey-transparent
  margin-bottom: 20px
  padding-left: 10px
  padding-right: 10px
  padding-bottom: 0px
  padding-top: 10px
  border-radius: 4px
  transition: box-shadow 0.5s


.card:hover
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)


#accordion
  margin-bottom: 10px



.card
  h3
    color: $white-headers
    font-weight: normal



.panel-title
  font-size: 16px
  text-align: center
  a
    color: $whit-transparent
    font-weight: lighter
    text-align: center
.panel-body
  h4
    text-align: center
    color: $whit-transparent
  p
    color: $whit-transparent
    text-align: center
    font-size: 12px
  .list-group
    li
      background-color: $grey-transparent
      color: $whit-transparent
      font-size: 12px
#showMore
  background-color: $grey-transparent
  border: none
  border-radius: 2px
  color: $whit-transparent
  margin-left: 35%
