
#cocktailIamge {
  border-radius: 4px;
}

#resultList {

  padding: 10px 10px 10px 10px;
}

.hidden {
  display: none;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
