.carousel-inner img {
  object-fit: fill;
}
.container img {
  display:block;
  margin:auto;
  margin-bottom: 5%;
  

}
li {
  text-align: left;
 

.space-top {
	margin-top: 50px;
}

.footer {
	background: #eee;
	padding-top: 50px;
	padding-bottom: 50px;
}