.carousel-inner img {
  object-fit: fill;

}

.main {
   padding: 0px;
}
.navbar {
  border-radius: 0px;
  position: absolute;
  width: 100%;
}
.navbar.navbar-fixed-top {
  position: fixed;
}
.logo {
  margin-bottom: 2%;
}
#logo {
  display: block;
  width:256px;
  height: 256px;
  margin-left: auto;
  margin-right: auto;
}
.logoText h2 {
  text-align: center;
}
.search-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.input-group span {
  background-color: black;
  color: white;
  border-radius: 4px;

}
.input-group {
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   border-radius: 4px;
}
.input-group span button {
  background-color: black;
  border-radius: 2px;
}
.input-group input {
  border: none;

}

.space-top {
  margin-top: 50px;
}

.footer {
  background: #eee;
  padding-top: 50px;
  padding-bottom: 50px;
}
.lucky {
  background-color: black;
  color:white;
}
.position-absolute {
  position:absolute;

}
.position-relative {
  position:relative;

}
.z-index10 {
  z-index: 10;
}

.margin-top {
  margin-top: 5rem;
}

.padding-top {
  padding-top: 5rem;
}

.color-white {
  color: white;
}

.carousel-inner .item {
  height: 30vh;
  background-color: black;
}
.carousel-inner img {
  object-fit: cover;
  object-position: center;
  opacity: .7;
  width: 100%;
  height: 100% !important;
}

@media (min-width: 768px) {
  .pull-right-md{
  float:right!important;
  }
}

.img-responsive {
   box-shadow: 0 2px 5px #000;
   margin-bottom: 10px;
}

ul {
  font-size: 15px;
  font-family: 'Merriweather', serif;
}
